<section class="hero is-info is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="https://content.nexza.com/companies/e7ec1352-0a82-4e8a-801d-bdc7b7fdad80/logo.3890de6b.png" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroC">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Home
              </a>
              <a class="navbar-item" href="/movies">
                Movie/Show List
              </a>
            </div>
          </div>
        </div>
      </header>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          DC Movie and TV Show Portal
        </p>
        <p class="subtitle">
          Find out the details of your favorite films and shows!
        </p>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
            <h3 class="level-item has-text-centered">Made by Crystal</h3>
          <ul>
            <li><a href="https://github.com/crystalatk" target="_blank">GitHub</a></li>
            <li><a>LinkedIn</a></li>
            <li><a>Portfolio</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>