<section class="hero is-info is-fullheight">
    <!-- Hero head: will stick at the top -->
  ${nav}
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <section class="container ">
          <section class="hero is-info">
            <p class="title is-1 block">
              Movies
            </p>
            <section class="is-fluid columns is-multiline is-desktop is-tablet is-centered">
              ${data.map(movie => {
                if (movie.Type === 'movie') {
                  return `
                    <div class="card card-shadow column has-background-info-dark p-0 m-1 is-one-quarter">
                    <a href="/movies/${movie.imdbID}">
                      <div class="card-image">
                        <figure class="image is-3by4">
                          <img src="${movie.Poster.replace('http:', 'https:')}" alt="${movie.Title} poster">
                        </figure>
                      </div>
                      <div class="card-content has-text-white-bis">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4 has-text-white-bis">${movie.Title}</p>
                            <p class="subtitle is-6 has-text-white-bis">${movie.Year}</p>
                            <p class="subtitle is-6 has-text-white-bis">Rating: ${movie.Rated}</p>
                            <p class="subtitle is-6 has-text-white-bis">Runtime: ${movie.Runtime}</p>
                          </div>
                        </div>
                        <div class="content">
                          ${movie.Plot}
                        </div>
                      </div>
                    </a>
                    </div>
                    <br>
                  `
                  }}
                  ).join('')}
            </section>
          </section>
          <hr>
          <section class="hero is-info">
            <p class="title is-1 block mt-5">
              TV Shows
            </p>
            <section class="is-fluid columns is-multiline is-desktop is-tablet is-centered">
              ${data.map(movie => {
                if (movie.Type === 'series') {
                  return `
                      <div class="card card-shadow column has-background-info-dark p-0 m-1 is-one-quarter">
                        <a href="/movies/${movie.imdbID}">
                        <div class="card-image">
                          <figure class="image is-3by4">
                            <img src="${movie.Poster.replace('http:', 'https:')}" alt="${movie.Title} poster">
                          </figure>
                        </div>
                          <div class="card-content has-text-white-bis">
                            <div class="media">
                              <div class="media-content">
                                <p class="title is-4 has-text-white-bis">${movie.Title}</p>
                                <p class="subtitle is-6 has-text-white-bis">${movie.Year} present</p>
                                <p class="subtitle is-6 has-text-white-bis">Rating: ${movie.Rated}</p>
                                <p class="subtitle is-6 has-text-white-bis">Runtime: ${movie.Runtime}</p>
                              </div>
                            </div>
                            <div class="content">
                              ${movie.Plot}
                            </div>
                          </div>
                        </a>
                      </div>
                      <br>`
                }}
                ).join('')}
            </section>
          </section>
        </section>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
${foot}
  </section>

