<section class="hero is-info is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/images/film_roll2.png" alt="Logo">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/">
              Home
            </a>
            <a class="navbar-item" href="/movies">
              Movie/Show List
            </a>
            <a class="navbar-item is-active" href="/movies/${movie.imdbID}">
              ${movie.Title}
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="">
    <div class="container has-text-centered">
      <section class="container is-fluid">
          <section class="hero is-info">
              <p class="title is-1 block">
                ${movie.Title}
              </p>
              <p class="subtitle is-4 block">
                <b>Rated:</b> ${movie.Rated}
              </p>
              <div class="m-1 columns">
                <div class="column is-one-half has-text-left">
                  <h3 class="title is-4">Details:</h3>
                  <p class="subtitle is-6">
                    <b>Director:</b> ${movie.Director}
                    <br>
                    <b>Actors:</b> ${movie.Actors}
                    <br>
                    <b>Awards:</b> ${movie.Awards}
                    <br>
                    <b>Runtime:</b> ${movie.Runtime}
                    <br>
                    <b>Realease Date:</b> ${movie.Released}
                    <br>
                    <b>Genre:</b> ${movie.Genre}
                    <br>
                    ${movie.totalSeasons ? `<b>Seasons:</b> ${movie.totalSeasons}` : ''
                    }
                  </p>
                </div>
                <div class="column is-one half">
                  <h3 class="title is-4">Summary:</h3>
                  <p class="subtitle is-4">
                    ${movie.Plot}
                  </p>
                </div>
              </div>
          </section>
          <section class="">
            ${movie.Images.map(image => 
              `<img class="m-1" src="${image}" alt="" width="500px">`
            ).join('')}
        </section> 
      </section>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
          <h3 class="level-item has-text-centered">Made by Crystal</h3>
        <ul>
          <li><a href="https://github.com/crystalatk" target="_blank">GitHub</a></li>
          <li><a>LinkedIn</a></li>
          <li><a>Portfolio</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
